* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  color: #515076;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.all-elements {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  width: 1110px;
  height: 1191px;
  flex-direction: column;
  position: relative;
}

.background-picture__img {
  background: url("/images/background-picture.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: -1;
  width: 790px;
  height: 697px;
  top: -0px;
}

.product-card-selection {
  text-align: center;
  width: 846px;
  font-size: 70px;
  line-height: 78px;
  margin: 220px auto 110px;
}

.button {
  display: flex;
  justify-content: space-between;
}

.style-button {
  width: 250px;
  height: 30px;
  background-color: #515076;
  vertical-align: top;
  border-radius: 50px;
  border: none;
  color: #F7F7FA;
}

.recolor-button__active {
  background-color: #ff00ff;
}

.product-card-wrapeer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1110px;
  height: 1191px;
  gap: 45px;
}

.product-card {
  display: flex;
  flex-direction: column;
  width: 340px;
  height: 573px;
  padding: 25px;
  background-color: #F7F7FA;
  box-shadow: 2px 2px 10px 0px #5150761A;
}

.product-card__img{
  width: 290px;
  height: 245px;
}

.product-card__for-skin {
  font-size: 12px;
  line-height: 24x;
  text-transform: uppercase;
  color: #A5A3B9;
  margin-top: 30px;
  margin-bottom: 5px;
}

.product-card__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 5px;
}

.product-card__descr {
  margin-bottom: 15px;
}

.product-card__text {
  width: 49px;
}

.product-card__composition {
  margin-top: 5px;
  margin-bottom: 25px;
}

.product-card__item {
  list-style: circle;
  margin-left: 14px;
}
.product-card__price-wrapper {
  display: flex;
  justify-content: space-between;
}

.product-card__price-text {
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
}

.product-card__price {
  line-height: 24px;
  font-size: 20px;
}